.form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1.4rem;
  line-height: 1.35;

  .form-input-label {
    position: absolute;
    padding-top: 0.25rem;
    padding-left: 1rem;
    color: #657786;
  }

  .form-input {
    width: 100%;
    background-color: #f5f8fc;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 1.7rem 0 0.4rem 1rem;
    border: none;
    border-bottom: 0.1678rem solid rgb(101, 119, 134);
    border-radius: 0.15rem;

    &:focus {
      outline: none;
      border-color: #4fb3f1;
    }
  }

  &:focus-within label {
    color: #4fb3f1;
  }
}
